* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #004047;
    font-family: "Livvic", sans-serif;
}

.header {
    padding-top: 73px;
    padding-bottom: 194px;
    background: #014E56;
}

.header-container {
    display: flex;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    display: flex;
    width: 160px;
    height: 40px;
}

.item {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 80px;
}

.link {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s;
    margin-right: 40px; 
}

.link:active {
    color: #F67E7E;
}

.header-btn {
    padding: 9px 32px 9px 32px;
    border-radius: 24px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-left: auto;
}

.header-btn:active {
    background-color: #fff;
    color: #002529;
}

.header-bottom {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 133px;
    display: flex;
    position: relative;
}

.header-bottom {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.hero-title {
    width: 350px;
    height: 100px;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin: 0;
}

.hero-item-3 {
    width: 445px;
    margin-left: 30px;
}

.hero-box {
    width: 50px;
    height: 4px;
    background: #F67E7E;
    margin-bottom: 40px;
    border: none;
}

.text {
    width: 730px;
    height: 112px;
    top: 44px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.hero-bottom-img {
    position: absolute;
    right: 0;
}

.meet {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #004047;
    position: relative;
}

.meet-top-img {
    position: absolute;
    left: 0;
    top: 0;
}

.meet-bottom-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.meet-container {
    width: 1110px;
    height: 722px;
    margin-left: auto;
    margin-right: auto;
}

.meet-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 64px;
    color: #fff;
}

.meet-title-text {
    width: 920px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.people-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    width: 350px;
    height: 253px;
    background-color: #012F34;
    margin-bottom: 48px;
    margin-left: 20px;
}

.box2 {
    width: 302px;
    height: 165px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
}

.box3 {
    margin: 35px 48px 110px 48px;
}

.peopl {
    width: 96px;
    height: 96px;
    display: flex;
    border-radius: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.peopl-link {
    width: 302px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #79C8C7;
    text-decoration: none;
}

.peopl-link2 {
    width: 256px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #79C8C7;
    text-decoration: none;
}

.peopl-text {
    width: 302px;
    height: 25px;
    top: 28px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.peopl-text2 {
    width: 254px;
    height: 25px;
    top: 28px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.imags {
}

.plus {
    margin-left: 123px;
    margin-top: 28px;
}

.people-wrap-bottom {
    display: flex;
    margin-top: 48px;
}

.linkn {
    width: -1px;
    height: 20px;
    margin: 78px 0px -74px 96px;
}

.links {
    text-decoration: none;
    margin-right: 14px;
}

.asab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 20px;
    margin-left: 40%;
    margin-top: 100px;
}

.logo-s {
}

.iks {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #79C8C7;
    margin-top: 58px;
}

.some-container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
    margin-top: 140px;
}

.some-item {
    width: 920px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.some-wrap {
    width: 1128px;
    height: 45px;
}

.some-img1 {
    width: 165px;
    height: 28px;
}

.some-img2 {
    width: 184px;
    height: 23px;
    margin-left: 80px;
}

.some-img3 {
    width: 180px;
    height: 28px;
    margin-left: 80px;
}

.some-img4 {
    width: 165px;
    height: 28px;
    margin-left: 80px;
}

.some-img5 {
    width: 98px;
    height: 45px;
    margin-left: 80px;
}

.start {
    position: relative;
    padding-top: 76px;
    padding-bottom: 76px;
    background-color:#F67E7E;
}

.start-img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.start-container {
    width: 917px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.start-title {
    width: 504px;
    height: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #012F34;
}

.start-link {
    width: 153px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #012F34;
    text-decoration: none;
    border: 2px solid #012F34;
    border-radius: 76.5px;
    padding-top: 9px;
    margin-left: 260px;
}

.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #002529;
}

.fotter-container {
    width: 1110px;
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-wrap {
    width: 285px;
    height: 100px;
}

.footer-item {
    font-family: "Livvic";
    display: flex;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 7px;
}

.footer-list {
    margin-right: 40px;
}

.footer-link {
    font-family: "Livvic";
    text-decoration: none;
    width: 51px;
    height: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.call-center {
    font-family: "Livvic";
    width: 445px;
    height: 100px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.call-link {
    font-family: "Livvic";
    color: #fff;
    text-decoration: none;
    width: 145px;
    height: 100px;
    left: 285px;
    opacity: 0.6px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.sorshal-media {
    list-style: none;
}

.sorshal-media a {
    text-decoration: none;
}

.ijtimoiy-tarmoq {
    margin-left: 16px;
}

.time-zone {
    font-family: "Livvic";
    width: 258px;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    color: #fff;
    margin-top: 51px;
    margin-left: 125px;
}