* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    background-color: #014E56;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.sitenav {
    margin-left: 80px;
    display: flex;
}

.sitenav-list {
    display: flex;
    list-style-type: none;
}

.sitenav-item {
    width: 49px;
    height: 28px;
    padding-left: 0px;
}

.sitenav-item:nth-child(1) {
    margin-right: 40px;
}

.sitenav__link {
    font-family: "Livvic";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.header__link {
    font-family: "Livvic";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    text-decoration: none;
    padding: 9px 33px 11px 32px;
    border: 2px solid #fff;
    border-radius: 500px;
    margin-left: 545px;
}