* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #004047;
    font-family: "Livvic", sans-serif;
}

.header {
    padding-top: 73px;
    padding-bottom: 194px;
    background: #014E56;
}

.header-container {
    display: flex;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    display: flex;
    width: 160px;
    height: 40px;
}

.item {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 80px;
}

.link {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s;
    margin-right: 40px; 
}

.link:active {
    color: #F67E7E;
}

.header-btn {
    padding: 9px 32px 9px 32px;
    border-radius: 24px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-left: auto;
}

.header-btn:active {
    background-color: #fff;
    color: #002529;
}

.header-bottom {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 133px;
    display: flex;
    position: relative;
}

.hero-title {
    width: 635px;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
}

.hero-item-2 {
    color: #F67E7E;
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
}

.hero-item-3 {
    width: 445px;
    margin-top: 5.4%;
    margin-left: 30px;
}

.hero-box {
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background-color: #79C8C7;
    margin-bottom: 79px;
    border: none;
}

.text {
    width: 445px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.hero-left-img {
    position: absolute;
    left: -100px;
    top: 322px;
}

.hero-bottom-img {
    position: absolute;
    right: 165px;
    top: 680px;
}

.section {
    padding-top: 140px;
    padding-bottom: 140px;
    background: #012F34;
    position: relative;
}

.section-container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.section-1 {
    width: 445px;
}

.section-wrap {
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: #F67E7E;
    border: none;
    margin-bottom: 54px;
}

.section-title {
    width: 455px;
    color: #fff;
    font-weight: 700;
    line-height: 48px;
    font-size: 48px
}

.people {
    margin-top: 29px;
    margin-left: 135px;
}

.person {
    width: 540px;
    margin-bottom: 58px;
}

.person-img {
    width: 540px;
    display: flex;
    margin-bottom: 32px;
}

.p-img {
    margin-right: 23px;
}

.person-title {
    width: 445px;
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700px;
    line-height: 28px;
    margin-bottom: 16px;
}

.person-text {
    width: 445px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.buil-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.delivering {
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
    background: #004047;
}

.delivering-container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.delivering-title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
}

.delivering-title-span {
    color: #79C8C7;
}

.delivering-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-img {
    position: absolute;
    left: 0;
    top: 0;
}

.peoples-wrap {
    margin: 0px 30px 0px 30px;
    width: 350px;
}

.result {
    position: relative;
    top: 0;
    margin-bottom: -25px;
    left: 142px;
}

.peop-text {
    width: 350px;
    height: 100px;
    top: 36px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
}

.peop-title {
    width: 350px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #79C8C7;
}

.peop-job {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    margin-top: 2px;
}

.peop-img {
    width: 62px;
    position: relative;
    left: 144px;
    top: 32px;
    bottom: 11px;
}

.bottom-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.start {
    position: relative;
    padding-top: 76px;
    padding-bottom: 76px;
    background-color:#F67E7E;
}

.start-img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.start-container {
    width: 917px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.start-title {
    width: 504px;
    height: 48px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #012F34;
}

.start-link {
    width: 153px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #012F34;
    text-decoration: none;
    border: 2px solid #012F34;
    border-radius: 76.5px;
    padding-top: 9px;
    margin-left: 260px;
}

.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #002529;
}

.fotter-container {
    width: 1110px;
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-wrap {
    width: 285px;
    height: 100px;
}

.footer-logo {
    
}

.footer-item {
    display: flex;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 7px;
}

.footer-list {
    margin-right: 40px;
}

.footer-link {
    text-decoration: none;
    width: 51px;
    height: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.call-center {
    width: 445px;
    height: 100px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.call-link {
    color: #fff;
    text-decoration: none;
    width: 145px;
    height: 100px;
    left: 285px;
    opacity: 0.6px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.sorshal-media {
    list-style: none;
}

.ijtimoiy-tarmoq {
    margin-left: 16px;
}

.time-zone {
    width: 258px;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    color: #fff;
    margin-top: 51px;
    margin-left: 125px;
}